    {{range .KeyRegisters}}
        register<bit<32>>(32w{{$.TableSize}}) {{.}};{{end}}
    {{range .ValueRegisters}}
    register<bit<32>>(32w{{$.TableSize}}) {{.}};{{end}}

    // Using register regKeys, regValues.
    action {{.LRUFn}}(inout {{.KeyName}} evictedKey, inout {{.ValueName}} evictedValue) {
        {{.ValueName}} {{.DefaultValueName}} = {{.DefaultValueDefinition}};
        {{.KeyName}} {{.DefaultKeyName}} = {{$.DefaultKeyDefinition}};
        evictedKey = {{.DefaultKeyDefinition}};
        evictedValue = {{.DefaultValueDefinition}};
        {{.KeyName}} inKey;{{range $i, $field := $.KeyFields}}
        inKey.{{$field}} = {{index $.KeySourceFields $i}};{{end}}

        bit<32> hsh = 32w1;
        hash(hsh, HashAlgorithm.crc32, 32w0, inKey, 32w{{.TableSize}});
        {{.KeyName}} foundKey = {{.DefaultKeyDefinition}};
        {{.ValueName}} foundValue = {{.DefaultValueDefinition}};
        {{range $i, $kr := .KeyRegisters}}
        {{.}}.read(foundKey.{{index $.KeyFields $i}}, hsh);{{end}}
        {{range $i, $vr := .ValueRegisters}}
        {{.}}.read(foundValue.{{index $.ValueFields $i}}, hsh);{{end}}
        bool same = true;{{range .KeyFields}}
        same = (foundKey.{{.}} == inKey.{{.}}) ? same : false;{{end}}
        bool zero = true;{{range .KeyFields}}
        zero = (foundKey.{{.}} == {{$.DefaultKeyName}}.{{.}});{{end}}
        
        {{.ValueName}} val = {{.DefaultValueDefinition}};
        bool ok = same || zero;
        // Should be shortened to evictedKey = !ok ? foundKey : 0 when supported.
        {{range .KeyFields}}
        evictedKey.{{.}} = !ok ? foundKey.{{.}} : 0;{{end}}
        {{range .ValueFields}}
        evictedValue.{{.}} = !ok ? foundValue.{{.}} : 0;{{end}}
        {{range .ValueFields}}
        val.{{.}} = ok ? foundValue.{{.}} : 0;{{end}}
        {{.UpdateCode}}

        {{range $i, $kr := .KeyRegisters}}
        {{.}}.write(hsh, inKey.{{index $.KeyFields $i}});{{end}}
        {{range $i, $vr := .ValueRegisters}}
        {{.}}.write(hsh, val.{{index $.ValueFields $i}});{{end}}
    }
